# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID=AX41TkCYzMp3WzaXbPZgKOhatM8SI6OAKN1QzW55C7jT5jcuiKuNkCCiY22wvOn4BkPoq304NLP0oh2j
PAYPAL_CLIENT_SECRET=EDWDr17uLED8hTiblZLu4NAHUxP8OTlyRECiDEVRNEOmNR42b_CC4ik3c8RRcuGUOTp1qJKNX_juo19T
